{{#block "header"}}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{#block "title"}}Login{{/block}}</title>
</head>
<body>
{{/block}}
{{#block "flash"}}{{#if flashmsg}}<p style="background-color:gray; padding: 10px; width: 95%; margin: 10px; margin-left: auto; margin-right: auto;">{{flashmsg}}</p>{{/if}}{{/block}}
{{#block "content"}}{{/block}}
{{#block "footer"}}
    </body>
    </html>
{{/block}}
