{{#partial "content"}}
    <div>
        <form action="/login" method="POST">
            <input type="text" name="username" placeholder="Username"><br>
            <input type="password" name="password" id="" placeholder="Password"><br>
            <button type="submit">Log in</button>
        </form>
    </div>
{{/partial}}

{{> base.hbs}}